.clsNode {
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	font-weight : bold;
	font-size : 11px;
	text-decoration : none;
}

.clsNode:visited{
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #E47116;
	font-weight : bold;
	font-size : 11px;
	text-decoration : none;
}
.clsNodeL1{
	color: black;
	font-size : 11px;
	text-decoration : none;
}
.clsNodeL1:visited{
	color: #E47116;
	font-size : 11px;
	text-decoration : none;
}
.clsNodeL1:hover{
	color: black;
	font-size : 11px;
	text-decoration : underline;
}

.clsNodeL2{
	color: black;
	font-size : 11px;
	text-decoration : none;
	visibility:hidden;
}
.clsNodeL2:visited{
	color: #E47116;
	font-size : 11px;
	text-decoration : none;
}
.clsNodeL2:hover{
	color: black;
	font-size : 11px;
	text-decoration : underline;
}

.clsNodeL3, .clsNodeL3:visited{
	color: black;
	font-size : 10px;
	text-decoration : none;
}
.clsNodeL3:hover{
	color: black;
	font-size : 10px;
	text-decoration : underline;
}

