A {
	COLOR: #000099
}
A:hover {
	COLOR: #7c7cfc
}
.subtitles {
	COLOR: #cc6633; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.simpletext {
	FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt
}
