<table width=100% align=center border=0 cellpadding=0 cellspacing=0 width=100%><tr><td>
<table width=100% align=center border=0 cellpadding=2 cellspacing=1 bgcolor=#EEEEEE width=100%>
	<tr class=title><td colspan=2>&nbsp;GLOBAL STATISTIC</td></tr>
	<tr class=list>
		<td colspan=2>&nbsp;Total advert zones: <b><TMPL_VAR TOTAL_ZONES></b></td>
	</tr>
	<tr class=list bgcolor="#f7f7f7">
		<td colspan=2>&nbsp;Total banners: <b><TMPL_VAR TOTAL_BANNERS></b></td>
	</tr>
	<tr class=list>
		<td colspan=2>&nbsp;Active banners (<b><TMPL_VAR TOTAL_ACTIVE_BANNERS></b>), inactive (<b><TMPL_VAR TOTAL_INACTIVE_BANNERS></b>)</td>
	</tr>
	<tr><td colspan=2><hr noshade></td></tr>
	<tr class=list bgcolor="#f7f7f7">
		<td colspan=2>&nbsp;Today impressions: (<b><TMPL_VAR TODAY_IMP></b>), unique: (<b><TMPL_VAR TODAY_UNIQ_IMP></b>)</td>
	</tr>
	<tr class=list>
		<td colspan=2>&nbsp;Yesterday impressions: (<b><TMPL_VAR YESTERDAY_IMP></b>), unique: (<b><TMPL_VAR YESTERDAY_UNIQ_IMP></b>)</td>
	</tr>
	<tr class=list bgcolor="#f7f7f7">
		<td colspan=2>&nbsp;Total impressions: (<b><TMPL_VAR TOTAL_IMP></b>), unique: (<b><TMPL_VAR TOTAL_UNIQ_IMP></b>)</td>
	</tr>
	<tr class=list>
		<td colspan=2>&nbsp;</td>
	</tr>
	<tr class=list>
		<td colspan=2>&nbsp;Today clicks: (<b><TMPL_VAR TODAY_CLICKS></b>), unique: (<b><TMPL_VAR TODAY_UNIQ_CLICKS></b>)</td>
	</tr>
	<tr class=list bgcolor="#f7f7f7">
		<td colspan=2>&nbsp;Yesterday clicks: (<b><TMPL_VAR YESTERDAY_CLICKS></b>), unique: (<b><TMPL_VAR YESTERDAY_UNIQ_CLICKS></b>)</td>
	</tr>
	<tr class=list>
		<td colspan=2>&nbsp;Total clicks: (<b><TMPL_VAR TOTAL_CLICKS></b>), unique: (<b><TMPL_VAR TOTAL_UNIQ_CLICKS></b>)</td>
	</tr>
	<tr><td colspan=2><hr noshade></td></tr>
	<tr class=list bgcolor="#f7f7f7">
		<td colspan=2>&nbsp;Today CTR: (<b><TMPL_VAR TODAY_CTR></b>)</td>
	</tr>
	<tr class=list>
		<td colspan=2>&nbsp;Yesterday CTR: (<b><TMPL_VAR YESTERDAY_CTR></b>)</td>
	</tr>
	<tr class=list bgcolor="#f7f7f7">
		<td colspan=2>&nbsp;Total CTR: (<b><TMPL_VAR TOTAL_CTR></b>)</td>
	</tr>
</table>
</td></tr></table>
